:root {
	--foot: rgb(200, 200, 200, 0.5);
	--nav: rgba(220, 180, 120, 0.5);
	--head: rgb(220, 180, 220, 0.5);
	--main: rgb(150, 180, 180, 0.5);
	--mention: rgb(240, 210, 170, 0.5);
	--color1: rgb(150, 150, 150, 0.5);
	--color2: rgb(120, 120, 120, 0.5);
}
